body {
  margin: 0;
  padding: 0;
  color: #18181b;
  font-family:
    "Noto Sans",
    sans serif;
  min-width: 400px;
}

.main-popup {
  background-color: #fafafa;
  margin: 0;
  padding: 1rem;
}

footer {
  text-align: center;
  background-color: #10b981;
  padding: 0.5rem;
  font-size: 14px;
}

h4 {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-section-name {
  margin-bottom: 0.5rem;
}

.muted {
  font-size: 12px;
  color: #3f3f46;
}

.mb {
  margin-bottom: 1rem;
}
